.list {
  flex: 1;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .list {
    border-right: 1px solid #D4D7E5;
  }
}
.list h3 {
  color: #6366F1;
  margin-bottom: 1rem;
  text-align: center;
}
.list .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.list .menu button {
  text-decoration: none;
  border: none;
  font-weight: 600;
}
