@page "/coursemanagement"
@using BlazorSiliconBackoffice.Components.Sections

<section id="management">
    <div class="container">
        <ManagementLeftSide />
        <CourseInfo />
    </div>
</section>


@code {

}