#management {
  padding-top: 40px;
}
#management .container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #management .container {
    flex-direction: row;
  }
}
#management .container .hide {
  display: none;
}
@media (min-width: 768px) {
  #management .container .hide {
    display: flex;
  }
}
#management .container .list {
  flex: 1;
  padding-right: 10px;
}
@media (min-width: 768px) {
  #management .container .list {
    border-right: 1px solid #D4D7E5;
  }
}
#management .container .list h3 {
  color: #6366F1;
  margin-bottom: 1rem;
  text-align: center;
}
#management .container .list .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
#management .container .list .menu .btn-theme {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  #management .container .list .menu .btn-theme {
    display: none;
  }
}
#management .container .list .menu .btn-theme:hover {
  cursor: pointer;
}
#management .container .list .menu button {
  text-decoration: none;
  border: none;
  font-weight: 600;
}
#management .container .details {
  flex: 2;
}
@media (min-width: 768px) {
  #management .container .details {
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  #management .container .details {
    padding-left: 100px;
    flex: 3;
  }
}
#management .container .details ::deep .checkbox {
  margin-right: 0.5rem;
}
#management .container .details label {
  font-weight: 600;
  color: #0B0F19;
}
#management .container .details h1 {
  text-align: center;
}
@media (min-width: 768px) {
  #management .container .details h1 {
    text-align: left;
  }
}
#management .container .details h4 {
  color: #6366F1;
  text-align: center;
}
@media (min-width: 768px) {
  #management .container .details h4 {
    text-align: left;
  }
}
#management .container .details .message {
  text-align: center;
}
@media (min-width: 768px) {
  #management .container .details .message {
    text-align: left;
  }
}
#management .container .details .message.error {
  color: #EF4444;
}
#management .container .details .message.success {
  color: #048316;
}
#management .container .details h6 {
  font-weight: 600;
}
#management .container .details h6 span {
  font-weight: 500;
  color: #B4B7C9;
}
@media (min-width: 768px) {
  #management .container .details .group {
    display: flex;
    gap: 20px;
  }
}
#management .container .details .label-input {
  display: block;
  flex: 1;
  padding-bottom: 30px;
}
#management .container .details span {
  font-size: 14px;
  color: #EF4444;
}
#management .container .details ::deep .input {
  display: block;
  width: 100%;
  border: 1px solid #E2E5F1;
  border-radius: 8px;
  outline-color: #6366F1;
  padding: 12px 10px;
  background-color: #FFFFFF;
}
#management .container .details ::deep .input:disabled {
  background-color: #E2E5F1;
}
#management .container .details ::deep .input.input-validation-error {
  color: #EF4444;
  border-color: #EF4444;
}
#management .container .details .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
@media (min-width: 768px) {
  #management .container .details .buttons {
    justify-content: baseline;
  }
}
#management .container .details .basic-info {
  border-bottom: 1px solid #D4D7E5;
}
#management .container .details .basic-info textarea {
  resize: none;
}
#management .container .details .address {
  margin-top: 30px;
}
#management .container .details .savedCourses {
  padding-top: 2rem;
  margin-top: 5rem;
  max-width: 576px;
  border-top: 1px solid #D4D7E5;
}
#management .container .details .savedCourses .courseInfo {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  border-bottom: 1px solid #D4D7E5;
}
#management .container .details .savedCourses .courseInfo .info .title {
  margin: 0;
  font-weight: 600;
  color: #0B0F19;
}
#management .container .details .savedCourses .courseInfo .info .author {
  margin: 0;
}
#management .container .details .savedCourses .courseInfo .btn-red {
  padding: 0px 10px;
  margin-left: 0.5rem;
}
